<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>北京二手房交易数据</h1>
    <p>欢迎你的到来，获取更多数据请联系：tolairf@163.com</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/bj/review">北京二手房交易数据</a></p>
  </body>
</html>
