body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

td {
    width: 90px;
}

.table-header{
    font-weight: bold;
}

.container {
    margin: 50px auto;
}
